services:
  - type: web
    name: bookmark-manager
    env: node
    rootDir: ./
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
